In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("1_Petrol_price_districtwise.csv")
df.head()

,District,State,fuel_pumps,min_price,max_price,modal_price,mean_price
0,ADILABAD,Telangana,21,111.32,112.31,112.11,111.90
1,AGAR MALWA,Madhya Pradesh,17,109.43,110.08,109.70,109.71
2,AGRA,Uttar Pradesh,120,96.10,96.80,96.35,96.41
3,AHMADNAGAR,Maharashtra,145,105.96,107.23,105.96,106.47
4,AHMEDABAD,Gujarat,149,96.22,97.26,96.42,96.52

In [4]:
df.dtypes

District        object
State           object
fuel_pumps       int64
min_price      float64
max_price      float64
modal_price    float64
mean_price     float64
dtype: object

In [5]:
df = df[['District','State','fuel_pumps','modal_price']]
df.head()

      District           State  fuel_pumps  modal_price
0     ADILABAD       Telangana          21       112.11
1  AGAR  MALWA  Madhya Pradesh          17       109.70
2         AGRA   Uttar Pradesh         120        96.35
3   AHMADNAGAR     Maharashtra         145       105.96
4    AHMEDABAD         Gujarat         149        96.42

In [6]:
# maximum price in each state:-

states_max = df.groupby('State').modal_price.max()
states_max

State
Andaman & Nicobar      84.10
Andhra Pradesh        112.24
Arunachal Pradesh      99.36
Assam                 100.42
Bihar                 109.47
Chandigarh             96.20
Chhatisgarh           106.85
Delhi                  96.72
Goa                    97.71
Gujarat                98.22
Haryana                98.24
Himachal Pradesh       99.27
Jammu & Kashmir       102.09
Jharkhand             102.29
Karnataka             103.93
Kerala                107.71
Ladakh                103.61
Madhya Pradesh        111.42
Maharashtra           109.41
Manipur               103.72
Meghalaya              96.10
Mizoram                98.80
Nagaland              101.87
Odisha                108.92
Pondicherry            96.82
Punjab                 97.21
Rajasthan             113.48
Sikkim                102.50
Tamil Nadu            104.97
Telangana             112.11
Tripura               100.39
UT OF D&NH AND D&D     95.26
Uttar Pradesh          98.55
Uttarakhand            97.97
West Bengal           107.39
Name: modal_price, dtype: float64

In [7]:
# minimum prices in each state:-

states_min = df.groupby('State').modal_price.min()
states_min

State
Andaman & Nicobar      84.10
Andhra Pradesh        110.48
Arunachal Pradesh      93.01
Assam                  96.98
Bihar                 106.98
Chandigarh             96.20
Chhatisgarh           102.14
Delhi                  96.72
Goa                    97.11
Gujarat                96.08
Haryana                96.46
Himachal Pradesh       94.76
Jammu & Kashmir        97.50
Jharkhand              99.57
Karnataka             101.13
Kerala                105.59
Ladakh                100.96
Madhya Pradesh        108.25
Maharashtra           105.77
Manipur               101.24
Meghalaya              93.60
Mizoram                94.64
Nagaland               98.28
Odisha                102.71
Pondicherry            93.80
Punjab                 95.99
Rajasthan             107.96
Sikkim                102.50
Tamil Nadu            102.63
Telangana             109.04
Tripura                97.93
UT OF D&NH AND D&D     94.31
Uttar Pradesh          96.08
Uttarakhand            94.30
West Bengal           105.33
Name: modal_price, dtype: float64

In [8]:
# Combining both data in a single data frame

states_price = pd.merge(states_min, states_max, on="State")
states_price

                    modal_price_x  modal_price_y
State
Andaman & Nicobar           84.10          84.10
Andhra Pradesh             110.48         112.24
Arunachal Pradesh           93.01          99.36
Assam                       96.98         100.42
Bihar                      106.98         109.47
Chandigarh                  96.20          96.20
Chhatisgarh                102.14         106.85
Delhi                       96.72          96.72
Goa                         97.11          97.71
Gujarat                     96.08          98.22
Haryana                     96.46          98.24
Himachal Pradesh            94.76          99.27
Jammu & Kashmir             97.50         102.09
Jharkhand                   99.57         102.29
Karnataka                  101.13         103.93
Kerala                     105.59         107.71
Ladakh                     100.96         103.61
Madhya Pradesh             108.25         111.42
Maharashtra                105.77         109.41
Manipur                    101.24         103.72
Meghalaya                   93.60          96.10
Mizoram                     94.64          98.80
Nagaland                    98.28         101.87
Odisha                     102.71         108.92
Pondicherry                 93.80          96.82
Punjab                      95.99          97.21
Rajasthan                  107.96         113.48
Sikkim                     102.50         102.50
Tamil Nadu                 102.63         104.97
Telangana                  109.04         112.11
Tripura                     97.93         100.39
UT OF D&NH AND D&D          94.31          95.26
Uttar Pradesh               96.08          98.55
Uttarakhand                 94.30          97.97
West Bengal                105.33         107.39

In [9]:
# Renaming the columns:-

states_price.rename(columns = {'State':'State', 'modal_price_x':'min_price',
                               'modal_price_y':'max_price'}, inplace = True)

states_price

                    min_price  max_price
State
Andaman & Nicobar       84.10      84.10
Andhra Pradesh         110.48     112.24
Arunachal Pradesh       93.01      99.36
Assam                   96.98     100.42
Bihar                  106.98     109.47
Chandigarh              96.20      96.20
Chhatisgarh            102.14     106.85
Delhi                   96.72      96.72
Goa                     97.11      97.71
Gujarat                 96.08      98.22
Haryana                 96.46      98.24
Himachal Pradesh        94.76      99.27
Jammu & Kashmir         97.50     102.09
Jharkhand               99.57     102.29
Karnataka              101.13     103.93
Kerala                 105.59     107.71
Ladakh                 100.96     103.61
Madhya Pradesh         108.25     111.42
Maharashtra            105.77     109.41
Manipur                101.24     103.72
Meghalaya               93.60      96.10
Mizoram                 94.64      98.80
Nagaland                98.28     101.87
Odisha                 102.71     108.92
Pondicherry             93.80      96.82
Punjab                  95.99      97.21
Rajasthan              107.96     113.48
Sikkim                 102.50     102.50
Tamil Nadu             102.63     104.97
Telangana              109.04     112.11
Tripura                 97.93     100.39
UT OF D&NH AND D&D      94.31      95.26
Uttar Pradesh           96.08      98.55
Uttarakhand             94.30      97.97
West Bengal            105.33     107.39

In [10]:
#copying this to excel:-
states_price.to_clipboard("states_price.xlsx")

In [11]:
states_price

                    min_price  max_price
State
Andaman & Nicobar       84.10      84.10
Andhra Pradesh         110.48     112.24
Arunachal Pradesh       93.01      99.36
Assam                   96.98     100.42
Bihar                  106.98     109.47
Chandigarh              96.20      96.20
Chhatisgarh            102.14     106.85
Delhi                   96.72      96.72
Goa                     97.11      97.71
Gujarat                 96.08      98.22
Haryana                 96.46      98.24
Himachal Pradesh        94.76      99.27
Jammu & Kashmir         97.50     102.09
Jharkhand               99.57     102.29
Karnataka              101.13     103.93
Kerala                 105.59     107.71
Ladakh                 100.96     103.61
Madhya Pradesh         108.25     111.42
Maharashtra            105.77     109.41
Manipur                101.24     103.72
Meghalaya               93.60      96.10
Mizoram                 94.64      98.80
Nagaland                98.28     101.87
Odisha                 102.71     108.92
Pondicherry             93.80      96.82
Punjab                  95.99      97.21
Rajasthan              107.96     113.48
Sikkim                 102.50     102.50
Tamil Nadu             102.63     104.97
Telangana              109.04     112.11
Tripura                 97.93     100.39
UT OF D&NH AND D&D      94.31      95.26
Uttar Pradesh           96.08      98.55
Uttarakhand             94.30      97.97
West Bengal            105.33     107.39

In [12]:
# Arranging the states/union territories based on max fuel price from high to low 

states_max = states_max.sort_values(ascending = False)
states_max

State
Rajasthan             113.48
Andhra Pradesh        112.24
Telangana             112.11
Madhya Pradesh        111.42
Bihar                 109.47
Maharashtra           109.41
Odisha                108.92
Kerala                107.71
West Bengal           107.39
Chhatisgarh           106.85
Tamil Nadu            104.97
Karnataka             103.93
Manipur               103.72
Ladakh                103.61
Sikkim                102.50
Jharkhand             102.29
Jammu & Kashmir       102.09
Nagaland              101.87
Assam                 100.42
Tripura               100.39
Arunachal Pradesh      99.36
Himachal Pradesh       99.27
Mizoram                98.80
Uttar Pradesh          98.55
Haryana                98.24
Gujarat                98.22
Uttarakhand            97.97
Goa                    97.71
Punjab                 97.21
Pondicherry            96.82
Delhi                  96.72
Chandigarh             96.20
Meghalaya              96.10
UT OF D&NH AND D&D     95.26
Andaman & Nicobar      84.10
Name: modal_price, dtype: float64

In [13]:
#writing this to excel:-
states_max.to_clipboard("states_max.xlsx")